<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="AppUrl" value="http://automationpractice.com/" />
    <add key="BrowserName" value="Chrome" />
    <add key="RegisteredEmailAddress" value="test@abc123.com" />
    <add key="ValidPassword" value="test123" />
  </appSettings>
 </configuration>